* {
    font-family: CodeNewRoman Nerd Font;
    font-size: 15px;
    color: #2c2c2c;
    min-height: 30px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.6);
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#custom-launcher,
#workspaces {
    background-color: #b2f1cb;
}

#custom-launcher {
    padding-left: 8px;
    padding-right: 12px;
    font-size: 17px;
    color: #1793d1
}

#workspaces {
    border-radius: 0px 15px 15px 0px;
    font-size: 15px;
    color: #2c2c2c;
}

#workspaces button {
    background-color: transparent;
    padding: 0px 8px;
    border-radius: 15px;
}

#workspaces button:hover {
    /* box-shadow: inset 1px 2px rgba(240, 240, 240, 0.8); */
}

#workspaces button.focused {
    background-color: rgba(72, 72, 72, 0.5);
    color: #1f1f1f;
    font-weight: bold;
}

#workspaces button.urgent {
    background-color: #ff8e8e;
}

#window {
    color: #fff;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

#clock.date {
    padding-left: 15px;
    padding-right: 5px;
    border-radius: 30px 0px 0px 30px;
    background-color: #6ca8cf;
    color: #2c2c2c;
    border-right: 1px solid #2c2c2c; 
}

#clock.time {
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 0px 30px 30px 0px;
    background-color: #7ca198;
    color: #2c2c2c;
}

label:focus {
    background-color: #000000;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#workspaces,
#clock,
#wireplumber,
#network,
#cpu,
#keyboard-state,
#battery {
    color: #2c2c2c;
}

#wireplumber,
#network,
#cpu,
#battery {
    padding: 0 10px;
}

#network,
#cpu,
#keyboard-state.numlock,
#battery {
    border-left: 1px solid #2c2c2c;
}

#wireplumber {
    background-color: #567ae1;
    border-radius: 30px 0px 0px 30px;
}

#network {
    background-color: #56b5e1;
}

#network.disconnected {
    background-color: #f1e75a;
}

#cpu {
    background-color: #56e1dd;
}

#keyboard-state {
    background: #56e19e;
    padding: 0;
}

#keyboard-state.numlock label,
#keyboard-state.capslock label.capslock.locked {
    font-size: 20px;
    padding-left: 5px;
    padding-right: 10px;
}

#battery {
    background-color: #5ee156;
    color: #2c2c2c;
}

#battery.warning {
    background-color: #f1e75a;
}

#battery.critical {
    background-color: #eb4d4b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
